body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Chiều cao 100% của viewport */
  margin: 0; /* Loại bỏ margin mặc định */
  position: relative;
}
a:link,
a:visited {
  background-color: #c0c0c0;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1px; /* Khoảng cách giữa các nút bấm */
}
a:hover,
a:active {
  background-color: grey;
}
